<!DOCTYPE html>
<html>
<head>
    <title>Create User</title>
</head>
<body>
    <h2>Create User</h2>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    <form method="POST" action="{% url 'create_user' %}">
        {% csrf_token %}

        <div>
            <label for="zid">ZooKeeper ID:</label> {{ form.zkp_id }}
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>

        <div>
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" required>
        </div>

        <div>
            <label>Name:</label> {{ form.zkp_name }}
        </div>

        <div>
            <label>Call:</label> {{ form.zkp_call }}
        </div>

        <div>
            <label>Career:</label> {{ form.zkp_carr }}
        </div>

        <div>
             <label for="my-select">Zone:</label>
              <select id="my-select" name="selected-value">
                <option value="" selected>Select an option</option>
                {% for item in zone %}
                  <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
              </select>
        </div>

        <div>
            <label for="my-select2">Part Time:</label>
              <select id="my-select2" name="selected-value2">
                <option value="" selected>Select an option</option>
                {% for item in pt %}
                  <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
              </select>
        </div>

        <div>
            <button class="btn btn-default" type="submit">Save</button>
        </div>
    </form>

    <p>Already have an account? <a href="{% url 'login' %}">Login</a>.</p>
</body>
</html>