<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Zoogle</title>

    <!-- Custom fonts for this template-->
    <link
      href="{% static 'vendor/fontawesome-free/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fontawsom-all.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul
        class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar"
      >
        <!-- Sidebar - Brand -->
        <a
          class="sidebar-brand d-flex align-items-center justify-content-center"
          href="index.html"
        >
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Zoogle</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Main</span></a
          >
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Heading -->
        <div class="sidebar-heading">Area</div>

        <!-- Nav Item - Pages Collapse Menu -->
        {% for i in area %}
            <li class="nav-item">
              <a
                class="nav-link collapsed"
                href="#"
                data-toggle="collapse"
                data-target="#collapseTwo"
                aria-expanded="true"
                aria-controls="collapseTwo"
              >
                <i class="fas fa-fw fa-cog"></i>
                <span>{{ i.area_name }}</span>
              </a>
              <div
                id="collapseTwo"
                class="collapse"
                aria-labelledby="headingTwo"
                data-parent="#accordionSidebar"
              >
                <div class="bg-white py-2 collapse-inner rounded">
                  <h6 class="collapse-header">zone:</h6>
                    {% for i in zone %}
                        <a class="collapse-item" href="{%url 'zone' i.zone_id %}" >{{ i.zone_name }}</a>
                    {% endfor %}
                </div>
              </div>
            </li>
        {% endfor %}
        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapseUtilities"
            aria-expanded="true"
            aria-controls="collapseUtilities"
          >
            <i class="fas fa-fw fa-wrench"></i>
            <span>America</span>
          </a>
          <div
            id="collapseUtilities"
            class="collapse"
            aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">zone:</h6>
              <a class="collapse-item" href="utilities-color.html">Anaconda</a>
              <a class="collapse-item" href="utilities-border.html">Eagle</a>
              <a class="collapse-item" href="utilities-animation.html"
                >flamingo</a
              >
              <a class="collapse-item" href="utilities-other.html">Buffalo</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapseUtilities"
            aria-expanded="true"
            aria-controls="collapseUtilities"
          >
            <i class="fas fa-fw fa-wrench"></i>
            <span>Africa</span>
          </a>
          <div
            id="collapseUtilities"
            class="collapse"
            aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">zone:</h6>
              <a class="collapse-item" href="utilities-color.html">Elephant</a>
              <a class="collapse-item" href="utilities-border.html">Giraffe</a>
              <a class="collapse-item" href="utilities-animation.html">Lion</a>
              <a class="collapse-item" href="utilities-other.html">Penguin</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapseUtilities"
            aria-expanded="true"
            aria-controls="collapseUtilities"
          >
            <i class="fas fa-fw fa-wrench"></i>
            <span>Austrailia</span>
          </a>
          <div
            id="collapseUtilities"
            class="collapse"
            aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">zone:</h6>
              <a class="collapse-item" href="utilities-color.html">Koala</a>
              <a class="collapse-item" href="utilities-border.html">Kangaroo</a>
              <a class="collapse-item" href="utilities-animation.html"
                >Parrot</a
              >
              <a class="collapse-item" href="utilities-other.html">Crocodile</a>
              <a class="collapse-item" href="utilities-other.html">Seal</a>
            </div>
          </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Heading -->
        <div class="sidebar-heading">Addons</div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapsePages"
            aria-expanded="true"
            aria-controls="collapsePages"
          >
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
          </a>
          <div
            id="collapsePages"
            class="collapse"
            aria-labelledby="headingPages"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Login Screens:</h6>
              <a class="collapse-item" href="login.html">Login</a>
              <a class="collapse-item" href="register.html">Register</a>
              <a class="collapse-item" href="forgot-password.html"
                >Forgot Password</a
              >
              <div class="collapse-divider"></div>
              <h6 class="collapse-header">Other Pages:</h6>
              <a class="collapse-item" href="404.html">404 Page</a>
              <a class="collapse-item" href="blank.html">Blank Page</a>
            </div>
          </div>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
          <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span></a
          >
        </li>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
          <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span></a
          >
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

        <!-- Sidebar Message -->
      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav
            class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
          >
            <!-- Sidebar Toggle (Topbar) -->
            <button
              id="sidebarToggleTop"
              class="btn btn-link d-md-none rounded-circle mr-3"
            >
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Search -->
            <form
              class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
            >
              <div class="input-group">
                <input
                  type="text"
                  class="form-control bg-light border-0 small"
                  placeholder="Search for..."
                  aria-label="Search"
                  aria-describedby="basic-addon2"
                />
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                    <a href="animal_search.html"
                      ><i class="fas fa-search fa-sm"></i
                    ></a>
                  </button>
                </div>
              </div>
            </form>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <!-- Nav Item - Search Dropdown (Visible Only XS) -->
              <li class="nav-item dropdown no-arrow d-sm-none">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="searchDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div
                  class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                  aria-labelledby="searchDropdown"
                >
                  <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control bg-light border-0 small"
                        placeholder="Search for..."
                        aria-label="Search"
                        aria-describedby="basic-addon2"
                      />
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                          <i class="fas fa-search fa-sm"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </li>

              <!-- Nav Item - Alerts -->
              <li class="nav-item dropdown no-arrow mx-1">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="alertsDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fas fa-bell fa-fw"></i>
                  <!-- Counter - Alerts -->
                  <span class="badge badge-danger badge-counter">3+</span>
                </a>
              </li>

              <li class="nav-item dropdown no-arrow mx-1">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="messagesDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fas fa-envelope fa-fw"></i>
                  <!-- Counter - Messages -->
                  <span class="badge badge-danger badge-counter">7</span>
                </a>
              </li>

              <li class="nav-item dropdown no-arrow">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="userDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                    >{{ zkp.zkp_name }}</span
                  >
                  <img
                    class="img-profile rounded-circle"
                    src="/static/assets/img/undraw_profile.svg"
                  />
                </a>
                <!-- Dropdown - User Information -->
                <div
                  class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                  aria-labelledby="userDropdown"
                >
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Activity Log
                  </a>
                  <div class="dropdown-divider"></div>
                  <a
                    class="dropdown-item"
                    href="#"
                    data-toggle="modal"
                    data-target="#logoutModal"
                  >
                    <i
                      class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                    ></i>
                    Logout
                  </a>
                </div>
              </li>
            </ul>
          </nav>
          <!-- End of Topbar -->
          <div class="container-fluid overcover">
            <div class="container profile-box">
              <div class="top-cover">
                <div class="covwe-inn">
                  <div class="row no-margin">
                    <div class="col-md-3 img-c">
                      <img src="/static/assets/1.jpeg" class="rounded" />
                    </div>
                    <div class="col-md-9 tit-det">
                      <h2>{{ zkp.zkp_name }}</h2>
                      <div class="text-secondary">zookeeper</div>

                      <table class="addrss-list">
                        <tbody>
                          <tr>
                            <th>ID:</th>
                            <td>{{ zkp.zkp_id }}</td>
                          </tr>
                          <tr>
                            <th>Phone:</th>
                            <td>{{ zkp.zkp_call }}</td>
                          </tr>
                          <tr>
                            <th>Career:</th>
                            <td>{{ zkp.zkp_carr }}</td>
                          </tr>
                          <tr>
                            <th>Zone:</th>
                            <td>{{ zkp.zone.zone_name }}</td>
                          </tr>
                          <tr>
                            <th>Part Time:</th>
                            <td>{{ zkp.pt.pt_name }}
                            ({{ zkp.pt.pt_start }}~{{ zkp.pt.pt_end }})</td>
                          </tr>
                          <tr>
                            <th></th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="profile-tab"
                    data-toggle="tab"
                    href="#animal"
                    role="tab"
                    aria-controls="profile"
                    aria-selected="True"
                    >Animal</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="profile-tab"
                    data-toggle="tab"
                    href="#todo"
                    role="tab"
                    aria-controls="profile"
                    aria-selected="false"
                    >Todo</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="profile-tab"
                    data-toggle="tab"
                    href="#members"
                    role="tab"
                    aria-controls="profile"
                    aria-selected="false"
                    >Members</a
                  >
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div
                  class="tab-pane fade exp-cover"
                  id="animal"
                  role="tabpanel"
                  aria-labelledby="profile-tab"
                >
                  <div class="data-box">
                    <link
                      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
                      rel="stylesheet"
                    />
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="main-box clearfix">
                            <div class="table-responsive">
                              <table class="table user-list">
                                <thead>
                                  <tr>
                                    <th><span>ID</span></th>
                                    <th><span>Name</span></th>
                                    <th><span>Species</span></th>
                                    <th class="text-center">
                                      <span>Sex</span>
                                    </th>
                                    <th><span>Zone</span></th>
                                    <th>&nbsp;</th>
                                  </tr>
                                </thead>
                                <tbody>

                                  <tr>
                                    <td>
                                      <img
                                        src="/static/assets/2.jpeg"
                                        alt=""
                                        class="img-thumbnail"
                                      />
                                      <a href="#" class="user-link"
                                        >Mila Kunis</a
                                      >
                                      <span class="user-subhead">Admin</span>
                                    </td>
                                    <td>2013/08/08</td>
                                    <td class="text-center">
                                      <span class="label label-default"
                                        >Inactive</span
                                      >
                                    </td>
                                    <td>
                                      <a href="#">mila@kunis.com</a>
                                    </td>
                                    <td style="width: 20%">
                                      <a href="#" class="table-link">
                                        <span class="fa-stack">
                                          <i
                                            class="fa fa-square fa-stack-2x"
                                          ></i>
                                          <i
                                            class="fa fa-search-plus fa-stack-1x fa-inverse"
                                          ></i>
                                        </span>
                                      </a>
                                      <a href="#" class="table-link">
                                        <span class="fa-stack">
                                          <i
                                            class="fa fa-square fa-stack-2x"
                                          ></i>
                                          <i
                                            class="fa fa-pencil fa-stack-1x fa-inverse"
                                          ></i>
                                        </span>
                                      </a>
                                      <a href="#" class="table-link danger">
                                        <span class="fa-stack">
                                          <i
                                            class="fa fa-square fa-stack-2x"
                                          ></i>
                                          <i
                                            class="fa fa-trash-o fa-stack-1x fa-inverse"
                                          ></i>
                                        </span>
                                      </a>
                                    </td>
                                  </tr>

                                  <tr>
                                    <td>
                                      <img
                                        src="/static/assets/3.jpeg"
                                        alt=""
                                        class="image-thumbnail"
                                      />
                                      <a href="#" class="user-link"
                                        >George Clooney</a
                                      >
                                      <span class="user-subhead">Member</span>
                                    </td>
                                    <td>2013/08/12</td>
                                    <td class="text-center">
                                      <span class="label label-success"
                                        >Active</span
                                      >
                                    </td>
                                    <td>
                                      <a href="#">marlon@brando.com</a>
                                    </td>
                                    <td style="width: 20%">
                                      <a href="#" class="table-link">
                                        <span class="fa-stack">
                                          <i
                                            class="fa fa-square fa-stack-2x"
                                          ></i>
                                          <i
                                            class="fa fa-search-plus fa-stack-1x fa-inverse"
                                          ></i>
                                        </span>
                                      </a>
                                      <a href="#" class="table-link">
                                        <span class="fa-stack">
                                          <i
                                            class="fa fa-square fa-stack-2x"
                                          ></i>
                                          <i
                                            class="fa fa-pencil fa-stack-1x fa-inverse"
                                          ></i>
                                        </span>
                                      </a>
                                      <a href="#" class="table-link danger">
                                        <span class="fa-stack">
                                          <i
                                            class="fa fa-square fa-stack-2x"
                                          ></i>
                                          <i
                                            class="fa fa-trash-o fa-stack-1x fa-inverse"
                                          ></i>
                                        </span>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <img
                                        src="/static/assets/4.jpeg"
                                        alt=""
                                        class="img-thumbnail"
                                      />
                                      <a href="#" class="user-link"
                                        >Ryan Gossling</a
                                      >
                                      <span class="user-subhead"
                                        >Registered</span
                                      >
                                    </td>
                                    <td>2013/03/03</td>
                                    <td class="text-center">
                                      <span class="label label-danger"
                                        >Banned</span
                                      >
                                    </td>
                                    <td>
                                      <a href="#">jack@nicholson</a>
                                    </td>
                                    <td style="width: 20%">
                                      <a href="#" class="table-link">
                                        <span class="fa-stack">
                                          <i
                                            class="fa fa-square fa-stack-2x"
                                          ></i>
                                          <i
                                            class="fa fa-search-plus fa-stack-1x fa-inverse"
                                          ></i>
                                        </span>
                                      </a>
                                      <a href="#" class="table-link">
                                        <span class="fa-stack">
                                          <i
                                            class="fa fa-square fa-stack-2x"
                                          ></i>
                                          <i
                                            class="fa fa-pencil fa-stack-1x fa-inverse"
                                          ></i>
                                        </span>
                                      </a>
                                      <a href="#" class="table-link danger">
                                        <span class="fa-stack">
                                          <i
                                            class="fa fa-square fa-stack-2x"
                                          ></i>
                                          <i
                                            class="fa fa-trash-o fa-stack-1x fa-inverse"
                                          ></i>
                                        </span>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <img
                                        src="/static/assets/lion.jpeg"
                                        alt=""
                                        class="img-thumbnail"
                                      />
                                      <a href="#" class="user-link"
                                        >Emma Watson</a
                                      >
                                      <span class="user-subhead"
                                        >Registered</span
                                      >
                                    </td>
                                    <td>2004/01/24</td>
                                    <td class="text-center">
                                      <span class="label label-warning"
                                        >Pending</span
                                      >
                                    </td>
                                    <td>
                                      <a href="#">humphrey@bogart.com</a>
                                    </td>
                                    <td style="width: 20%">
                                      <a href="#" class="table-link">
                                        <span class="fa-stack">
                                          <i
                                            class="fa fa-square fa-stack-2x"
                                          ></i>
                                          <i
                                            class="fa fa-search-plus fa-stack-1x fa-inverse"
                                          ></i>
                                        </span>
                                      </a>
                                      <a href="#" class="table-link">
                                        <span class="fa-stack">
                                          <i
                                            class="fa fa-square fa-stack-2x"
                                          ></i>
                                          <i
                                            class="fa fa-pencil fa-stack-1x fa-inverse"
                                          ></i>
                                        </span>
                                      </a>
                                      <a href="#" class="table-link danger">
                                        <span class="fa-stack">
                                          <i
                                            class="fa fa-square fa-stack-2x"
                                          ></i>
                                          <i
                                            class="fa fa-trash-o fa-stack-1x fa-inverse"
                                          ></i>
                                        </span>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <img
                                        src="/static/assets/2.jpeg"
                                        alt=""
                                        class="image-thumbnail"
                                      />
                                      <a href="#" class="user-link"
                                        >Robert Downey Jr.</a
                                      >
                                      <span class="user-subhead">Admin</span>
                                    </td>
                                    <td>2013/12/31</td>
                                    <td class="text-center">
                                      <span class="label label-success"
                                        >Active</span
                                      >
                                    </td>
                                    <td>
                                      <a href="#">spencer@tracy</a>
                                    </td>
                                    <td style="width: 20%">
                                      <a href="#" class="table-link">
                                        <span class="fa-stack">
                                          <i
                                            class="fa fa-square fa-stack-2x"
                                          ></i>
                                          <i
                                            class="fa fa-search-plus fa-stack-1x fa-inverse"
                                          ></i>
                                        </span>
                                      </a>
                                      <a href="#" class="table-link">
                                        <span class="fa-stack">
                                          <i
                                            class="fa fa-square fa-stack-2x"
                                          ></i>
                                          <i
                                            class="fa fa-pencil fa-stack-1x fa-inverse"
                                          ></i>
                                        </span>
                                      </a>
                                      <a href="#" class="table-link danger">
                                        <span class="fa-stack">
                                          <i
                                            class="fa fa-square fa-stack-2x"
                                          ></i>
                                          <i
                                            class="fa fa-trash-o fa-stack-1x fa-inverse"
                                          ></i>
                                        </span>
                                      </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <ul class="pagination pull-right">
                              <li>
                                <a href="#"
                                  ><i class="fa fa-chevron-left"></i
                                ></a>
                              </li>
                              <li><a href="#">1</a></li>
                              <li><a href="#">2</a></li>
                              <li><a href="#">3</a></li>
                              <li>
                                <a href="#"
                                  ><i class="fa fa-chevron-right"></i
                                ></a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade exp-cover"
                  id="todo"
                  role="tabpanel"
                  aria-labelledby="contact-tab"
                >
                  <div class="sec-title">
                    <h2></h2>
                  </div>

                  <div
                    class="holder d-flex align-items-center justify-content-center"
                  >
                    <div class="container">
                      <!-- FOR DEMO PURPOSE -->
                      <header class="text-center mb-5">
                        <h4 class="display-4">check list</h4>
                      </header>

                      <div class="row">
                        <div class="col-lg-5 mx-auto">
                          <!-- CHECKBOX LIST -->
                          <div
                            class="card rounded border-0 shadow-sm position-relative"
                          >
                            <div class="card-body p-5">
                              <div
                                class="d-flex align-items-center mb-4 pb-4 border-bottom"
                              >
                                <i class="far fa-calendar-alt fa-3x"></i>
                                <div class="ms-3">
                                  <h4
                                    class="text-uppercase fw-weight-bold mb-0"
                                  >
                                    Wednesday
                                  </h4>
                                  <p class="text-gray fst-italic mb-0">
                                    05 June 2023
                                  </p>
                                </div>
                              </div>
                              <div class="form-check mb-3">
                                <input
                                  class="form-check-input"
                                  id="flexCheck1"
                                  type="checkbox"
                                  checked
                                />
                                <label class="form-check-label" for="flexCheck1"
                                  ><span class="fst-italic pl-1"
                                    >정보시스템 개발 과제</span
                                  ></label
                                >
                              </div>
                              <div class="form-check mb-3">
                                <input
                                  class="form-check-input"
                                  id="flexChec2"
                                  type="checkbox"
                                />
                                <label class="form-check-label" for="flexChec2"
                                  ><span class="fst-italic pl-1"
                                    >기말고사
                                  </span></label
                                >
                              </div>
                              <div class="form-check mb-3">
                                <input
                                  class="form-check-input"
                                  id="flexCheck3"
                                  type="checkbox"
                                />
                                <label class="form-check-label" for="flexCheck3"
                                  ><span class="fst-italic pl-1"
                                    >system architecture</span
                                  ></label
                                >
                              </div>
                              <div class="form-check mb-3">
                                <input
                                  class="form-check-input"
                                  id="flexCheck4"
                                  type="checkbox"
                                />
                                <label class="form-check-label" for="flexCheck4"
                                  ><span class="fst-italic pl-1"
                                    >Go for a long walk</span
                                  ></label
                                >
                              </div>
                              <div class="form-check mb-3">
                                <input
                                  class="form-check-input"
                                  id="flexCheck5"
                                  type="checkbox"
                                />
                                <label class="form-check-label" for="flexCheck5"
                                  ><span class="fst-italic pl-1"
                                    >Pay for the new shoppings</span
                                  ></label
                                >
                              </div>
                              <div class="form-check mb-3">
                                <input
                                  class="form-check-input"
                                  id="flexCheck6"
                                  type="checkbox"
                                />
                                <label class="form-check-label" for="flexCheck6"
                                  ><span class="fst-italic pl-1"
                                    >Buy a new sweatshirt</span
                                  ></label
                                >
                              </div>
                              <div class="form-check mb-3">
                                <input
                                  class="form-check-input"
                                  id="flexCheck7"
                                  type="checkbox"
                                />
                                <label class="form-check-label" for="flexCheck7"
                                  ><span class="fst-italic pl-1"
                                    >Go for a long walk</span
                                  ></label
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade gallcoo"
                  id="members"
                  role="tabpanel"
                  aria-labelledby="contact-tab"
                >
                  <!-- Page Heading -->
                  <div
                    class="d-sm-flex align-items-center justify-content-between mb-4"
                  >
                    <h1 class="h3 mb-0 text-gray-800">Members</h1>
                    <a
                      href="#"
                      class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                      ><i class="fas fa-download fa-sm text-white-50"></i> + Add
                    </a>
                  </div>
                  <div
                    class="container mt-4 mb-4 p-3 d-flex justify-content-flex"
                  >
                    <div class="card p-4">
                      <div
                        class="image d-flex flex-column justify-content-center align-items-center"
                      >
                        <button class="btn btn-secondary">
                          <img
                            src="https://i.imgur.com/wvxPV9S.png"
                            height="100"
                            width="100"
                          />
                        </button>
                        <span class="name mt-3">Jisoo Kim</span>
                        <span class="text-secondary">zookeeper</span>
                        <div
                          class="d-flex flex-row justify-content-center align-items-center gap-2"
                        >
                          <div class="col-md-9 tit-det">
                            <table class="addrss-list">
                              <tbody>
                                <tr>
                                  <th>ID</th>
                                  <td>201904484</td>
                                </tr>
                                <tr>
                                  <th>Experience</th>
                                  <td>5+ Years</td>
                                </tr>
                                <tr>
                                  <th>phone</th>
                                  <td>010-1234-5678</td>
                                </tr>
                                <tr>
                                  <th>Zone</th>
                                  <td>Monkey</td>
                                </tr>
                                <tr>
                                  <th></th>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="mx-3"></div>
                    <div class="card p-4">
                      <div
                        class="image d-flex flex-column justify-content-center align-items-center"
                      >
                        <button class="btn btn-secondary">
                          <img
                            src="https://i.imgur.com/wvxPV9S.png"
                            height="100"
                            width="100"
                          />
                        </button>
                        <span class="name mt-3">Jenny Kim</span>
                        <span class="text-secondary">zookeeper</span>
                        <div
                          class="d-flex flex-row justify-content-center align-items-center gap-2"
                        >
                          <div class="col-md-9 tit-det">
                            <table class="addrss-list">
                              <tbody>
                                <tr>
                                  <th>ID</th>
                                  <td>202004484</td>
                                </tr>
                                <tr>
                                  <th>Experience</th>
                                  <td>5+ Years</td>
                                </tr>
                                <tr>
                                  <th>phone</th>
                                  <td>010-1234-5678</td>
                                </tr>
                                <tr>
                                  <th>Zone</th>
                                  <td>Monkey</td>
                                </tr>
                                <tr>
                                  <th></th>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Your Website 2021</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Select "Logout" below if you are ready to end your current session.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/static/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/static/js/demo/chart-area-demo.js"></script>
    <script src="/static/js/demo/chart-pie-demo.js"></script>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/script.js"></script>
  </body>
</html>
