<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Register</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                               <h2>Create an Account</h2>
                               <div>
                                 <label> Message : </label>
                                 {% if message %}
                                     <p>{{ message }}</p>
                                 {% endif %}
                               </div>
                                <hr>
                                    <form method="POST" action="{% url 'user_create' %}">
                                        {% csrf_token %}
                                        <div class="form-group" >
                                            <div class="row-cols-auto">
                                                <label for="zkp_id">ZooKeeper ID:</label>
                                                <input type="number" id="zkp_id" name="zkp_id" required>
                                            </div>

                                            <div class="row-cols-auto">
                                                <label for="zkp_pw">Password:</label>
                                                <input type="password" id="zkp_pw" name="zkp_pw" required>
                                            </div>
                                            <div class="row-cols-auto">
                                                <label for="zkp_cpw">Confirm Password:</label>
                                                <input type="password" id="zkp_cpw" name="zkp_cpw" required>
                                            </div>
                                            <div class="row-cols-auto">
                                                <label for="zkp_name">Name:</label>
                                                <input type="text" id="zkp_name" name="zkp_name" required>
                                            </div>
                                            <div class="row-cols-auto">
                                                <label for="zkp_call">Call:</label>
                                                <input type="text" id="zkp_call" name="zkp_call" required>
                                            </div>
                                            <div class="row-cols-auto">
                                                <label for="zkp_carr">Career:</label>
                                                <input type="text" id="zkp_carr" name="zkp_carr" required>
                                            </div>
                                            <div class="row-cols-auto">
                                                <label for="zkp_join">Joined DateTime:</label>
                                                <input type="text" id="zkp_join" name="zkp_join" value="{{ join|date:'Y-m-d H:i:s' }}" readonly>
                                            </div>
                                            <div class="row-cols-auto">
                                                <label for="zone">Zone:</label>
                                                  <select id="zone" name="zone">>
                                                    <option value="" selected>Select an option</option>
                                                    {% for i in zon %}
                                                        <option value="{{ i.0 }}">{{ i.1 }}</option>
                                                    {% endfor %}
                                                  </select>
                                            </div>
                                            <div class="row-cols-auto">
                                                <label for="pt">Part Time:</label>
                                                  <select id="pt" name="pt">
                                                    <option value="" selected>Select an option</option>
                                                    {% for i in pt %}
                                                        <option value="{{ i.0 }}">{{ i.1 }}</option>
                                                    {% endfor %}
                                                  </select>
                                            </div>
                                            <hr>
                                            <div class="col-lg-7">
                                                <button class="btn-primary" type="submit"> Create </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href={% url 'login' %}>Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>
</body>

</html>